@use "../../abstracts/vars";
@use "../../abstracts/mixins";
%cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-background {
    >.component-content {
        @extend %cover-bg;
    }
}
.fix-background {
    >.component-content {
        @extend %cover-bg;
        @include mixins.fixed-bg(left top);
    }
}
.parallax-background {
    >.component-content {
        @extend %cover-bg;
        @include mixins.fixed-bg(50% 0);
        @include mixins.respond-to(mobile-large) {
            background-attachment: scroll;
        }
    }
}
.container-gray-background {
    background: vars.$bg-light-gray;
}
.container-clean-background {
    background: vars.$bg-basic-color;
}
.container-dark-background {
    background: vars.$bg-black-active;
}
.container-color-background {
    background: vars.$bg-blue;
}
