@use "../../abstracts/vars-nysif";

.row-dark {
	background-color: vars-nysif.$nysif-dark-band-bg;
	background-image: vars-nysif.$nysif-dark-gradient;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: vars-nysif.$nysif-text-on-dark;
}
