@use "../../abstracts/vars";
@use "../../abstracts/mixins" as mixins2;
@use "../../base/fontawesome/font-awesome-mix-var";
@use "mixins";
@use "variables";

.variant-selector {
    &.component {
        margin: 30px 0 0 0;
    }
    .component-content {
        >div {
            height: 30px;
            display: inline-block;
            width: 30px;
            margin: 2px;
            cursor: Pointer;
        }
    }
    .variant-option {
        @include mixins.fa-icon();
        &:before {
            content: variables.$fa-var-th;
            display: block;
            height: 100%;
            font-size: 30px;
            width: 100%;
            text-align: center;
        }
        &.active-variant {
            color: vars.$serach-selector-variant-color-active;
        }
        &.horizontal {
            &:before {
                content: variables.$fa-var-th-large;
            }
            &.active-variant {
                color: vars.$serach-selector-variant-color-active;
            }
        }
        &.vertical {
            &:before {
                content: variables.$fa-var-bars;
            }
            &.active-variant {
                color: vars.$serach-selector-variant-color-active;
            }
        }
    }
}