@using Sitecore.Mvc
@using Sitecore.Demo.Platform.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Demo.Platform.Feature.ExperienceAccelerator.Models.ServiceAlertsModel

<div class="component service-alerts service-alerts col-sm-12">
	<div class="component-content">
		@if (Model.Item == null)
		{
			if (Sitecore.Context.PageMode.IsExperienceEditor)
			{
				<p>[Service Alerts: select a datasource]</p>
			}
			return;
		}

		<aside class="alerts">
			@using (Html.BeginEditFrame(Model.Item.ID.ToString(), "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Default"))
			{
				<span class="alert-badge">@Html.Sitecore().Field("Badge", Model.Item)</span>
			}
			@foreach (var alert in Model.Alerts)
			{
				using (Html.BeginEditFrame(alert.Item.ID.ToString(), "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Default"))
				{
					<div class="alert-item">
						<div class="alert-date">@Html.Sitecore().Field("Date", alert.Item)</div>
						<div class="alert-text">@Html.Sitecore().Field("Text", alert.Item)</div>
					</div>
				}
			}
		</aside>
	</div>
</div>
