@use "mixins";
@use "vars";
.top-nav {
	max-width: none !important;
	width: 100vw !important;
	height: vars.$primary-nav-height;
	background-color: vars.$top-nav-bg;
	border-top: 4px solid vars.$primary-nav-border-color;

	> .component-content > .component {
		float: right;
		padding-top: 4px;

		> .component-content > div > a {
			text-decoration: none;
			text-transform: uppercase;
			padding: 10px 15px;
			color: vars.$text-passive;
			height: 100%;
			display: block;
			font-size: vars.$navigation-font-small;
			letter-spacing: 2px;
			border-bottom: none;

			&:before {
				display: none;
			}

			&:hover {
				border-bottom: none;
				text-decoration: none;
				color: vars.$on-primary;
			}
		}
	}
}
