@use "sass:meta";
@use "styles/file-list";
@use "vars";
@use "mixins";
.file-list {
    background: vars.$file-list-bg;
    h1, h2, h3, h4, h5, h6 {
        color: vars.$file-list-title-color;
        @include mixins.border-basic(bottom, vars.$file-list-title-border);
    }
    li {
        margin: 0 20px 5px 0;
        * {
            color: vars.$file-list-item-color;
        }
    }
    .list-item {
        background: vars.$file-list-item-bg;
		@include mixins.border-basic(bottom,vars.$file-list-item-borer);
		a {
            &:hover {
                color: vars.$file-list-item-color-active;
            }
        }
        >.scEnabledChrome {
            width:100%;
            .scEmptyPlaceholder {
                width:100%;
                margin-left: 0;
            }
        }
        >*, >.scEnabledChrome>* {
            flex-shrink: 1;
            flex-grow: 1;
            margin-left: 5px;
        }
        .field-filetypeicon {
            >a {
                display: block;
            }
            span {
                display: block;
                height: 17px;
                &:before {
                    font-size: 18px;
                }
            }
        }
    }
    .field-linktext, .field-description, .field-customimage, .field-size {
        color: vars.$file-list-item-color;
        font-size: vars.$file-list-item-size;
    }
    .field-linktext {
        a {
            text-decoration: none;
        }
    }
    @include meta.load-css("base/richtext/richtext-files-icons");
    @include meta.load-css("variants/file-list");
}
