@use "sass:meta";
@use "vars";
@use "mixins";
.title {
	@include mixins.proxima-font(bold);
	background: vars.$title-bg;

	.field-title a {
		@include mixins.border-basic(bottom, vars.$border-basic-color);
		font-size: vars.$font-extrabig;
		margin-bottom: vars.$small-margin;
		color: vars.$title-color;
		line-height: normal;
		padding-bottom: 10px;
		display: block;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: vars.$title-color-active;
		}
	}

	&.title-header {
		@include mixins.full-width-container;
		background-color: vars.$primary-color;
		margin-right: 0 !important;
		padding: 3rem;

		> .component-content {
			border: 1px solid vars.$on-primary;
		}

		h1 {
			margin: 6rem;
		}

		h1,
		h2,
		.field-title,
		.field-title a {
			color: vars.$on-primary;
			text-align: center;
		}
	}

	@include meta.load-css("variants/title");
}
