@use "sass:meta";
@use "styles/rich-text";
@use "vars";
@use "mixins";

.content, .rich-text {
    background: vars.$rich-content-bg;
    color: vars.$text-basic;
    border: vars.$rich-content-border;
    line-height: 1.5;
    font-size: vars.$font-medium;
    overflow: hidden;
    * {
        max-width: 100%;
    }
    @include meta.load-css("base/richtext");
}
.rich-text  {
    @include meta.load-css("variants/rich-text");
}
.content {
    @include meta.load-css("variants/page-content");
}
