@use "sass:meta";
@use "vars";
@use "mixins";
.sitecore-form {
	@include meta.load-css("base/reset/inputs");
	> .component-content {
		padding: 15px;
		border: 1px solid transparent;
		background-color: vars.$form-bg;
		color: vars.$form-color;
	}
	form {
		color: vars.$form-color;
		> div {
			label {
				font-family: inherit;
				padding-right: vars.$default-padding;
			}
			input {
				font-family: inherit;
			}
			label + input {
			}
			label + textarea {
				margin-top: vars.$default-padding;
			}
			textarea,
			select {
				margin-top: vars.$default-padding;
			}
			.field-validation-error {
				color: vars.$text-red;
			}
		}

		input[type="submit"],
		button {
			@include mixins.btn-primary;
		}

		[data-sc-field-name="Password Confirmation"] {
			margin-right: vars.$default-padding;
		}
	}
	@include meta.load-css("styles/forms");
}

form {
	input[type="submit"] {
		@include mixins.btn-primary();
	}
}
