@use "styles/image";
@use "vars";

.image {
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        display: inline-block;
        max-width: 100%;
    }
    .image-caption {
        display: block;
        font-style: italic;
        font-size: vars.$font-small;
        color: vars.$image-caption-color;
    }
}
