@use "sass:meta";
@use "vars";
@use "mixins";
.event-calendar {
    @include meta.load-css("base/richtext");
    background: vars.$calendar-bg;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: none !important;
    .fc-day-grid-event {
        &:hover {
            color: vars.$calendar-day-color-active;
        }
    }
    .fc-content-skeleton {
        td {
            padding: 0 !important;
        }
    }
    .fc-bg>table {
        height: 100% !important;
    }
    .fc-day-header {
        background: vars.$calendar-header-bg
    }
    th, td {
        border-width: 1px 0 0 1px !important;
    }
    table {
        border: 1px solid vars.$border-gray;
        &, tr, th, td {
            background: transparent;
        }
    }
    .fc-event-container {
        a {
            color:vars.$calendar-day-color-active;
            text-decoration: none;
        }
    }
}
.calendar-tooltip {
    @include meta.load-css("base/richtext");
}
