@use "sass:meta";
@use "mixins";
@use "vars";
.login {
    @include meta.load-css("base/reset/inputs");
    background-color: vars.$login-bg;
    table {
        input, label{
            display: inline-block;
            margin: 0;
        }
        width: 100%;
        tr, tbody {
            background-color: vars.$login-bg !important;
        }
        td {
            padding: 5px;
        }
        input[type='text'], input[type='password'] {
            min-height: 33px;
        }
    }
}
