@use "sass:meta";
@use "styles/search";
@use "vars";
@use "mixins";
@use "mixins" as mixins2;
@use "variables";

.facet-component,
.facet-summary {
	box-sizing: border-box;
	background: transparent;
	@include meta.load-css("base/reset/inputs");
	@include mixins.clearfix();
	.bottom-filter-button {
		float: right;
	}
	.filterButton {
		@include mixins.btn-secondary;
	}
	.facet-heading {
		@include mixins.border-basic(bottom, vars.$search-title-border);
		padding: 0 0 5px 0;
		margin: 0 0 5px 0;
		position: relative;
		.facet-title {
			display: inline-block;
			vertical-align: middle;
			color: vars.$search-title-color;
			padding-right: 25px;
		}
		.clear-filter {
			display: inline-block;
			vertical-align: middle;
			border-radius: 15px;
			font-size: 10px;
			text-align: center !important;
			width: 15px;
			cursor: pointer;
			position: absolute;
			color: vars.$search-filter;
			right: 3px;
			top: 50%;
			transform: translateY(-50%);
			background: vars.$search-btn-bg;
			&:hover {
				background: vars.$search-btn-active-bg;
				border-color: vars.$search-btn-active-border;
				text-decoration: none;
				color: vars.$search-filter;
			}
			&.has-active-facet {
				background: vars.$search-btn-active-bg;
				color: vars.$search-filter;
				&:hover {
					background: vars.$search-btn-active-bg;
					color: vars.$search-filter;
				}
			}
		}
	}
}
@include meta.load-css("base/search/component-filter-checklist");
@include meta.load-css("base/search/component-facet-summary");
@include meta.load-css("base/search/component-filter-date");
@include meta.load-css("base/search/component-filter-dropdown");
@include meta.load-css("base/search/component-filter-managed-range");
@include meta.load-css("base/search/component-filter-range-slider");
@include meta.load-css("base/search/component-filter-radius");
@include meta.load-css("base/search/component-filter-slider");
@include meta.load-css("base/search/component-load-more");
@include meta.load-css("base/search/component-location");
@include meta.load-css("base/search/component-page-selector");
@include meta.load-css("base/search/component-page-size");
@include meta.load-css("base/search/component-results-count");
@include meta.load-css("base/search/component-results-filter");
@include meta.load-css("base/search/component-variant-selector");
@include meta.load-css("base/search/component-search-box");
@include meta.load-css("base/search/component-sort-results");

.search-box.main-search {
	position: relative;
	padding: 0;

	.component-content {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		width: vars.$main-search-width;
		z-index: 100;
		background-color: vars.$bg-basic-color;
		padding: 1.5em;
		box-shadow: 0 2px 9px 0px #b3b3b3;

		input,
		> button {
			display: block;
			margin: 0;
			height: 44px;
			width: 100%;
			font-size: vars.$navigation-font-basic;
		}

		> button {
			background-color: vars.$btn-primary-bg !important;
			border: 1px solid vars.$btn-primary-bg;
			color: vars.$btn-primary;
		}

		input {
			box-shadow: none;
			background-color: vars.$search-box-bg !important;
			color: vars.$text-basic;
		}

		> label {
			display: none;
		}

		> .twitter-typeahead {
			margin: 0;
			.search-box-input.tt-input {
				margin-bottom: 0.5em;
			}

			.tt-dropdown-menu {
				width: 100%;
				margin-top: 0;
				max-height: none;
				overflow-y: auto;
			}
		}
	}

	&:before {
		@include mixins2.fa-icon();
		height: vars.$primary-nav-height - 8px;
		display: flex;
		align-items: center;
		color: vars.$text-passive;
		font-size: vars.$navigation-icon-size;
		content: variables.$fa-var-search;
		padding: 0 1.25em;
		cursor: pointer;
		position: relative;
		border-top: 4px solid transparent;
		line-height: vars.$primary-nav-height - 8px;
		padding-bottom: 12px;
	}

	&.open {
		&:before {
			background-color: vars.$nav-submenu-bg;
			color: vars.$primary-color;
			z-index: 400;
		}

		& > .component-content {
			display: block;
		}
	}
}
