@use "vars";
@use "mixins";
.list-pagination {
	background: vars.$list-pagination-bg;
	margin: 30px;

	nav {
		font-size: vars.$font-normal;
		> span,
		> a {
			display: inline-block;
			color: vars.$list-pagination-inactive-color;
			background: vars.$list-pagination-bg-inactive;
			margin: 2px 1px 2px 0;
			padding: 6px 10px;
			@include mixins.border-basic();
			font-size: vars.$navigation-font-basic;
			font-weight: 500;

			&:hover {
				color: vars.$list-pagination-active-color;
				background: vars.$list-pagination-active-bg;
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
				color: vars.$list-pagination-active-color;
			}
		}
		> span.active {
			background: vars.$list-pagination-inactive-color;
			color: vars.$list-pagination-bg-inactive;
		}
		> span.inactive {
			display: none;
			color: vars.$text-disabled;
			&:hover {
				background: none;
				@include mixins.border-basic();
			}
		}
	}
}
