@use "sass:meta";
@use "vars";
@use "mixins";
.market-selector {
    @include meta.load-css("base/reset/inputs");
    select {
        height: auto;
        font-size: vars.$font-normal;
        color: vars.$site-selector-color;
        padding: 5px 15px 5px 5px;
    }
}
