@use "sass:meta";
@use "vars";
@use "mixins";
.map {
	overflow: hidden;
	position: relative;
	background: vars.$map-bg;
	> .component-content {
		@include mixins.border-basic();
	}
	.map-canvas {
		position: relative;
	}
	img {
		max-width: none;
	}
	.MicrosoftMap .infobox-close {
		position: static;
		float: right;
	}
	.MicrosoftMap .Infobox .infobox-body {
		height: 100%;
	}
	.MicrosoftMap .Infobox .infobox-info {
		height: 100%;
		box-sizing: border-box;
	}
	@include meta.load-css("variants/map");
}
