@use "sass:meta";
@use "vars";
@use "mixins";
@use "base/fontawesome/font-awesome-mix-var";
.tag-cloud {
    .component-content {
        text-align: justify;
    }
    .tag-cloud-item {
        a {
            color: vars.$tag-color;
            &:hover {
                color: vars.$tag-color-active;
            }
        }
        &.xs {
            font-size: 0.9em;
        }
        &.s {
            font-size: 1.1em;
        }
        &.m {
            font-size: 1.3em;
        }
        &.l {
            font-size: 1.5em;
        }
        &.xl {
            font-size: 1.8em;
        }
        &.xxl {
            font-size: 2.0em;
        }
    }
    @include meta.load-css("variants/tag-cloud");
}