@use "mixins" as mixins2;
@use "vars";
@use "base/fontawesome/font-awesome-mix-var";
@use "mixins";
@use "variables";


.component.expandable-searchbox {
	position: relative;
	padding: 0 vars.$small-margin;

	&:before {
		@include mixins.fa-icon();
		height: vars.$primary-nav-height - 8px;
		display: flex;
		align-items: center;
		color: vars.$text-passive;
		font-size: vars.$navigation-icon-size;
		content: variables.$fa-var-search;
		padding: 0 1.25em;
		cursor: pointer;
		position: relative;
		border-top: 4px solid transparent;
		line-height: vars.$primary-nav-height - 8px;
		padding-bottom: 12px;
	}

	.component-content-open {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateY(100%);
		width: vars.$main-search-width;
		padding: 1.5em;
		background: vars.$bg-basic-color;
		border: 1px solid vars.$nav-submenu-item-border;
		border-bottom: 4px solid vars.$nav-submenu-item-border;
		z-index: 100;

		.search-placeholder {
			display: block;
			position: relative;
			width: 100%;
		}
	}

	&.open {
		&:before {
			background-color: transparent;
			color: vars.$primary-color;
			z-index: 400;
		}

		& > .component-content-open {
			display: block;
		}
	}

	&.footer {
		position: relative;

		&:before {
			display: none;
		}

		.component-content-open {
			display: inline;
			position: relative;
			width: 100%;
			background: none;
			border: none;
			padding: vars.$small-margin;
			height: auto;

			.search-placeholder {
				height: auto;
			}
		}

		.autocomplete-menu,
		.autocomplete-menu__absolute {
			@include mixins2.border-basic(all, vars.$on-primary, 1px);

			position: absolute;
			background-color: vars.$secondary-color;
			color: vars.$on-secondary;

			span a {
				color: vars.$on-secondary;
			}
		}

		&.edit-mode {
			background-color: vars.$bg-light-gray-active;
			color: vars.$on-primary;
		}
	}
}
